package frontend

templ headerComponent(title string) {
	<head>
	    <link rel="stylesheet" href="/styles.css"></link>
	    <title>{ title }</title>
	</head>
}

templ contentComponent(title string, body templ.Component) {
	<body>
		<h1>{ title }</h1>
		<div class="content">
			@body
		</div>
	</body>
}

templ PageComponent(title string, body templ.Component) {
	<html>
		@headerComponent(title)
		@contentComponent(title, body)
	</html>
}