package frontend_admin_login

import "quizzly/web/frontend/templ/components"

templ Page(components ...templ.Component) {
    <div class="w-full">
        @frontend_components.Composition(components...)
    </div>
}



