package frontend_admin_login

templ GlobalScripts() {
    <script type="text/javascript">
        function redirectToAdminIndex() {
            window.location = "/question";
        }
    </script>
}