package frontend_admin_game

templ ActionAddNewGame() {
    <a href="/game/new" class="btn bg-green-500 border-0 text-white">
     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
     </svg>
     <span>Создать новую игру</span>
    </a>
}