package frontend_admin_game

templ ActionAddQuestion() {
	<button
		class="btn btn-primary rounded-2xl mb-4"
		onclick="addQuestionModal.showModal()"
		type="button"
	>
		<span>Добавить вопрос</span>
	</button>
}
