package frontend_admin_game

import "quizzly/web/frontend/templ/components"

templ Page(components ...templ.Component) {
    <div>
        @frontend_components.Composition(components...)
    </div>
}

templ AdminPageQuestionsList(list templ.Component) {
    <div id="game-page-questions-list">
        @list
    </div>
}