package frontend_admin_game

templ GlobalScripts() {
    <script type="text/javascript">
        function copy(element) {
            let copyText = document.getElementById(element.getAttribute("data-copy-target"));

            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            navigator.clipboard.writeText(copyText.value);
        }
    </script>
}