package frontend_admin_game

import "quizzly/web/frontend/handlers"

templ Settings(settings *handlers.GameSettings) {
   <div class="mb-4">
   if settings.ShuffleQuestions {
        <div class="badge badge-lg badge-ghost mr-2 p-4">
            Вопросы перемешаны
        </div>
   }
   if settings.ShuffleAnswers {
           <div class="badge badge-lg badge-ghost mr-2 p-4">
               Ответы перемешаны
           </div>
   }
   </div>
}
