@font-face {
    font-family: "bigNoodleFont";
    src: url(/bignoodletoooblique.ttf);
}

.text-big-noodle {
    font-family: "bigNoodleFont", sans-serif;
}

.border-stat-grey {
    border-color: #1f29371a;
}

.bg-base-disabled {
    background-color: rgba(242,242,242,0.5);
}