package frontend_components

templ DividerVerticalLight(dividerText string, components ...templ.Component) {
	<div class="flex w-full flex-col">
		for i, component := range components {
			@component
			if i < len(components) - 1 {
				<div class="text-primary-content text-main-font text-3xl m-auto">{ dividerText }</div>
			}
		}
	</div>
}
