package frontend_components

templ StatusMessage(text string) {
     <div class="flex min-h-[75vh]">
        <div class="m-auto">
            <div class="text-white text-5xl font-bold text-big-noodle text-center">
            { text }
            </div>
        </div>
     </div>
}