package frontend_admin_question

templ GlobalScripts() {
    <script type="text/javascript">
        function redirectToList() {
           window.location = "/admin/question/list";
        }
    </script>
}

templ RedirectToList() {
    <script type="text/javascript">
        redirectToList()
    </script>
}
